.main-footer {
display: grid;
position: relative;
grid-auto-columns: 1fr 1fr 1fr;
grid-template-rows: 1;
height:60px;
overflow:hidden;    
background-color: #F6BD60;
font-size: 110%;
color:#87423c;
position: end;

}

.main-footer a {
  text-decoration: none;
  color: #87423c
}

.copyright { 
    font-size: 0.705em; 
    justify-self: left;
    margin-left: 30px;
    align-self:center;
    grid-column-start: 1;
    text-align:left;
    font-size: 70%;
    line-height: 105%;

  }

.address-footer {
    align-self:center;
    letter-spacing: 2px;
    grid-column-start: 2;
    grid-row-start: 1;
    align-items: center;
    justify-self:center;
    font-size: 0.705em;

  }

  .contact-footer {
    align-self: center;
    grid-column-start: 2;
    grid-row-start: 1;
    align-items: center;
    justify-self:center;
    font-size: 0.705em;
  }
  
  .social-nav { 
    grid-column-start: 3;
    grid-row-start: 1;
    align-items: center;
    justify-self: right;
    align-self: center;
    margin-right: 30px;
  
  }
  
  .social-nav a {
    color:#87423c; ;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100vh;
  }
  
  .social-nav a:hover {
    color: #555;;
  }