.header {
    background-color:#F6BD60;
    /* background-color: lightblue; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.logo {
    height: 100px;

}

.logo:hover {
    opacity: 50%;
    /* background: url("../images/phaddress.png") no-repeat; */
  }

.navigation {
    justify-self: end;
    align-self: end;
    display: flex;
    
}

.navigation a {
    display: block;
    padding: 12px; 
    text-decoration: none;
    color: #4d1d18;
    /* color: steelblue; */
    text-rendering: optimizeSpeed;
}

.navigation a.active{
    font-weight: bold;
    /* color:steelblue; */
    font-style:;
    /* color: rgb(195, 53, 53); */
}

.navigation a:hover {
    color: #555;
    background-color: rgb(251, 216, 120);
    
}