.header {
    background-color:lightblue;
    display: grid;
    grid-template: 1fr 1fr;
}

.logo {
    width: 300px;

}

.navigation {
    justify-self: end;
    align-self: end;
    display: flex;
}

.navigation a {
    display: block;
    padding: 12px; 
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: white;
    background-color: black;
}