/* .content {
    background-color: #caf1e9;
} */

.website {
    background-color: #fff5e4; 
    /* #F7EDE2 */
}

.content h2, h3, h4 {
    color: #4d1d18;
}
.footer {
    background-color: #F6BD60;
}

