body {
  margin: 0;
  font-family: 'Helvetica', 'Calibri';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ' Helvetica', 'Calibri'
    monospace;
}
