@media screen and ( max-width: 768px ) {

    .website {
        min-height: 40vh;
        min-width: 40vh;
        display: block;
        position: relative;
        max-width: fit-content;
        header > content {margin: 0}        
    
    }


    h1 {
        /* margin: 25px; */
        display:inline-block;
    }

    .grid {
        margin: 25px;
    }
    
    header.header {
        display: flex;
        position:relative;
        justify-self:baseline;
        flex-direction: column;
        align-self:center;
        align-content: center;
        /* header > content {margin: 0} */
        
    }

    .banner {
        text-size-adjust: auto;
        text-justify: auto;
        margin-top: -45px;
        /* min-width: 40px; */
    }

 p.address-footer {
        justify-content: space-between;
        font-size: 60%;
        line-height: 130%;
    }

    .card {
        max-width:fit-content;
        grid-column: span 2;
        padding-top: 0px;
        padding-bottom:0px;
        padding: 10px 10px;
    }
        
    .card img {
        /* height: 200px;  */
        max-width:fit-content;
    }

    .logo {
        align-items: center;
    }
    /* . content { 
        margin: auto 10px;
        position: relative;
    } */
}

@media screen and ( max-width: 450px ) {
    
    .website {
        
        min-height: 40vh;
        min-width: 40vh;
        max-width: 375px;
        display: block;
        grid-area: 375px;
        position: relative;
        align-self: center;
        max-width: -moz-fit-content;
        max-height: -moz-fit-content;
        overflow: hidden;
    
    }

    .content, h1 {
        margin-left: 35px;
        margin-right: 35px;
        margin-bottom: auto;
    }

    .banner, .p {
        margin-top: -50px;
    }

    .grid {
        justify-content: space-evenly;
        grid-gap: 5px;
    }

    .img, .iframe {
        max-height: 20vh;
        max-width: 20vh;
    
    }
    .card {
        display: block;
        overflow: hidden;
        /* margin-bottom: -50px; */
        
    }

    .logo {
        display: block;
        margin: auto;
        grid-template-columns: 1;
        grid-template-rows: 1;
        grid-column: span 2;
        height: 100%;
        align-self: center;
        flex-direction: column;
        margin-right: none;
        justify-content: center
    }

    .body {
        text-align: right;

    }

    .card {
        display: inline;
        grid-column: span 2;
        margin-top: -25px;
    }

    .navigation {
        display: inline-block;
        justify-self: center;
        flex-direction: column;
        grid-column: span 2;
        margin-bottom: 10px;
        
    }

    .navigation a {
        /* display: grid;
        position: relative;
        align-items: center;
        justify-content: space-evenly; */
        
    }

  

    .footer {
        display: inline-block;
        overflow: hidden;

    }

    .button {
        
    }

}/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
    //* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #a02620;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }